/*navbar section*/

/* * {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

#for-nav {
   width: 100%;
   background-color: white;
   top: 0;
   position: sticky;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   z-index: 1000;
}

#for-nav li {
   margin: 0 10px;
}

#for-nav li a {
   color: #000;
   font-weight: 600;
   font-size: 17px;
   transition: 0.1s;
}

#for-nav li a::after {
   content: '';
   width: 0;
   height: 2px;
   background-color: #fac031;
   display: block;
   transition: 0.2s linear;
}

#for-nav li a:hover::after {
   width: 100%;
}

#for-nav li a:hover {
   color: #fac031;
}

#for-nav .logo img{
   margin-left: 70px;
}

#nav-icon i {
   font-size: 18px;
   margin: 0 5px;
   color: #000;
   cursor: pointer;
   transition: 0.3s;
}

#nav-icon i:hover {
   color: #fac031;
}

#nav-ul .nav-item{
  display: flex;
  align-items: center;
}
#nav-ul .nav-item i{
  position: relative;
  bottom: 2px;
  margin-right: 3px;
  font-size: 19px;
  color: #000;
}

#nav-ul .nav-item i:hover{
  color: #fac031;
} */


 /*Review section*/

#review{
    background-color:rgb(248, 244, 243);
}
#review h1{
    font-size: 55px;
    font-weight: 600;
    padding-top: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
}
#review span{
    color: #fac031;
    margin-left: 15px;
    font-family: mv boli; 
}
#review h1 span::after {
    content: '';
    height: 2px;
    width: 100%;
    bottom: 8px;
    background: #fac031;
    bottom: 9px;
    display: block;
    position: relative;
 }

#review .row{
    min-height: 100vh;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}
#review .row .card {
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
 }

#review .row .card .rev-img{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

 }
 #review .row .card:hover .rev-img{
    transform: translateY(-60px);
 }

#review .row .card .rev-img img{
    padding-top: 8px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
 }
 #review .row .card .rev-text .name{
    position: relative;
    bottom: 10px;
    color: #000;
    transition: 0.3s;
 }
 #review .row .card:hover .rev-text .name{
    transform: translateY(-50px);
 }

 #review .row .card .rev-icon{
   position: relative;
   bottom: 33px;
   color: #fac031;
   transition: 0.3s;
 }

 #review .row .card:hover .rev-icon{
   transform: translateY(-30px);
 }

 #review .row .card .social-icon i{
   cursor: pointer;
   position: relative;
   font-size: 15px;
   margin-left: 3px;
   bottom: 50px;
   transition: 0.3s;
   opacity: 0;
 }

 #review .row .card:hover .social-icon i{
   opacity: 1;
   transform: translateY(-8px);
 }

 #review .row .card p{
   position: relative;
   text-align: justify;
   line-height: 22px;
   bottom: 25px;
   transition: 0.3s;   
 }


 /*Footer section*/


 /* #footer {
    background: #cfcbcb;
 }

 #footer .row {
    user-select: none;
    padding-left: 5%;
    padding-top: 30px;
    gap: 32px;
    text-align: center;
 }

 .row h2 {
    padding-bottom: 12px;
    color: #000;
    font-size: 30px;
    font-weight: 600;

 }

 .row h2 i {
    font-size: 23px;
    margin-right: 6px;
    color: #000;
    transition: 0.3s;
 }

 .row h2 i:hover {
    color: darkblue;
 }

 .row p {
    font-size: 15px;
    font-weight: bold;
 }

 .row a {
   text-decoration: none;
   color: #000;
   font-size: 15px;
   font-weight: bold;
}

 .row #ftr-5 .icon i {
    padding-left: 6px;
    font-size: 17px;
 }

 .row #ftr-5 .icon i:hover {
    color: #fac031;

 }

 .ftr-end p {
    font-size: 16px;
    padding-right: 50px;
 }

 .ftr-end span {
    color: #fac031;
 } */