{% include 'header.html' %}


    <!-- Gallary section -->

    <div class="container" id="gall-cont">
        <h1>Our<span>Gallary</span></h1>
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="content"> <a href="#">
                        <div class="content-overlay"></div> <img class="content-image" src="/static/image/gallary_1.jpg">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Sandwich</h3>
                            <p class="content-text">Enjoy a deliciously crafted sandwich with perfectly toasted bread,
                                layered with fresh lettuce, savory ham, and a hint of cheese.</p>
                            <button type="button" class="btn btn-warning">Order Now</button>
                        </div>
                    </a> </div>
            </div>
            <div class="col-md-4">
                <div class="content"> <a href="#">
                        <div class="content-overlay"></div> <img class="content-image" src="/static/image/gallary_2.jpg">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Vanilla Cupcake</h3>
                            <p class="content-text">Delight in our soft vanilla cupcakes topped with rich blue whipped
                                cream fosting, perfect for any special occasion</p>
                            <button type="button" class="btn btn-warning ">Order Now</button>
                        </div>
                    </a> </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="content"> <a href="#">
                        <div class="content-overlay"></div> <img class="content-image" src="/static/image/gallary_3.jpg">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Chocolate Cupcake</h3>
                            <p class="content-text">Indulge in our decadent chocolate cupcakes,topped with a swirl of
                                velvety chocolate buttercream.</p>
                            <button type="button" class="btn btn-warning">Order Now</button>
                        </div>
                    </a> </div>
            </div>

            <div class="col-md-4">
                <div class="content"> <a href="#">
                        <div class="content-overlay"></div> <img class="content-image" src="/static/image/gallary_4.jpg">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Blueberry Oat Bread</h3>
                            <p class="content-text">Blueberry oat bread,bursting with blueberries and topped with a
                                crunchy oat crumble- perfect for a delicious snack!</p>
                            <button type="button" class="btn btn-warning">Order Now</button>
                        </div>
                    </a> </div>
            </div>
            <div class="col-md-4">
                <div class="content"> <a href="#">
                        <div class="content-overlay"></div> <img class="content-image" src="/static/image/gallary_5.jpg">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Vegetable Pizza</h3>
                            <p class="content-text">Veg Pizza topped with a medely of fresh veggies,savory olives, and
                                golden cheese- ideal for any occasion!</p>
                            <button type="button" class="btn btn-warning">Order Now</button>
                        </div>
                    </a> </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="content"> <a href="#">
                        <div class="content-overlay"></div> <img class="content-image" src="/static/image/gallary_6.jpg">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Caramel berry cake</h3>
                            <p class="content-text">Caramel berry cake, fosted with creamy caramel and crowned with a
                                vibrant medley of fresh berries- strawberries, and cherries.
                            </p>
                            <button type="button" class="btn btn-warning">Order Now</button>
                        </div>
                    </a> </div>
            </div>

            <div class="col-md-4">
                <div class="content"> <a href="#">
                        <div class="content-overlay"></div> <img class="content-image" src="/static/image/gall-7.jpg">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Gourmet Burger</h3>
                            <p class="content-text">Indulge in our mouth-watering gourmet burger,crafted with a
                                juicy,perfectly grilled patty,layered with crispy bacon and melted cheddar.</p>
                            <button type="button" class="btn btn-warning">Order Now</button>
                        </div>
                    </a> </div>
            </div>

            <div class="col-md-4">
                <div class="content"> <a href="#">
                        <div class="content-overlay"></div> <img class="content-image" src="/static/image/gall-8.jpg">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Donuts</h3>
                            <p class="content-text">Indulge in a delightful treat with our irresistible donuts!Featuring
                                a variety of mouthwatering flavors,perfect for satisfying your sweet tooth.</p>
                            <button type="button" class="btn btn-warning">Order Now</button>
                        </div>
                    </a> </div>
            </div>

            <div class="col-md-4">
                <div class="content"> <a href="#">
                        <div class="content-overlay"></div> <img class="content-image" src="/static/image/gall-9.jpg">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Italian Pasta</h3>
                            <p class="content-text">Indulge in the rich and vibrant flavors of our italian
                                pasta.Perfectly cooked, the pasta is enveloped in a bold,spicy tomato sauce,enhanced
                                with fresh herbs.</p>
                            <button type="button" class="btn btn-warning">Order Now</button>
                        </div>
                    </a> </div>
            </div>



        </div>
    </div>


{% include 'footer.html' %}