{% include 'header.html' %}

<!--Home-->

<section>
    <div class="container-fluid home" id="home">
        <div class="row">
            <div class="col-md-6 box1 ">
                <h1>Get Fresh <span>Food</span><br>in a Easy Way</h1>
                <p>Savour the taste of perfection with our signature burger! Juicy, flame-grilled beef patty,topped
                    with crisp lettuce,ripe tomatoes, and melted cheese,all stacked between a soft, toasted bun.
                    Bursting with flavor,this mouthwatering creation is sure to satisfy your cravings. Whether
                    you're craving a classic or something more gourment, our burgers promise to deliver freshness
                    and quality with every order. Order now for a delicious, unforgettable bite!</p>
                <div class="home-btn">
                    <a href="#">Order Now</a>
                    <i class="fa-solid fa-angle-right"></i>
                </div>

            </div>

            <div class="col-md-6 box2">
                <img src="/static/image/home_img.png" alt="">
            </div>

        </div>
    </div>
</section>


<!-- second-page -->

<div class="container-fluid" id="second-page">
    <div class="row" id="secp-row">
        <div class="col-md-7 sec-p1">
            <h1>Order Your <span>Best</span><br>Food anytime</h1>
            <p>Hey, Our delicious food is waiting for you,<br>We are always near to you with fresh item of food</p>
            <div class="secp-btn">
                <a href="">Explore food</a>
            </div>
        </div>
        <div class="col-md-5 sec-p2">
            <img src="/static/image/hero.png" alt="">
        </div>
    </div>
</div>

<!-- Team -->

<div class="container-fluid" id="team">
    <h1>Our <span>Team</span></h1>
    <div class="row" id="team-row">
        <div class="col-md-3" id="crd-1">
            <div class="card" style="width: 280px;">
                <img src="/static/image/chef1.png" class="card-img" height="210px">
                <h2 class="name">James</h2>
                <div class="card-body">
                    <p class="card-text">Hello! I’m James, a professional chef with a passion for crafting exquisite
                        dishes that delight the senses.</p>
                    <div class="team-icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-whatsapp"></i>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-3" id="crd-2">
            <div class="card" style="width: 280px">
                <img src="/static/image/chef2.png" class="card-img" height="210px">
                <h2 class="name">Grace</h2>
                <div class="card-body">
                    <p class="card-text">Hello! I'm chef Grace, passionate about creating delicious, memorable meals
                        that bring people together.</p>
                    <div class="team-icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-whatsapp"></i>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-3" id="crd-3">
            <div class="card" style="width: 280px;">
                <img src="/static/image/chef3.jpg" class="card-img" height="210px">
                <h2 class="name">David</h2>
                <div class="card-body">
                    <p class="card-text">Hello! I'm Chef David, a passionate culinary professional with over 10
                        years of experience in the kitchen.</p>
                    <div class="team-icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-whatsapp"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 " id="crd-4">
            <div class="card" style="width: 280px;">
                <img src="/static/image/chef4.jpg" class="card-img" alt="..." height="210px">
                <h2 class="name">Michael</h2>
                <div class="card-body">
                    <p class="card-text">Hello! I’m Michael, a passionate chef who loves experimenting with flavors
                        and techniques in the kitchen.</p>
                    <div class="team-icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-whatsapp"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% include 'footer.html' %}