{% include 'header.html' %}

    <!-- menu section -->
    <div class="container-fluid" id="menu">
        <h1>Our<span>Menu</span></h1>
        <div class="row" id="menu-box">
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-pic">
                        <img src="/static/image/card-1.jpg" class="card-img" alt="..." height="205px">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Burger</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <h5 class="rate">$20.00</h5>
                        <div class="icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-pic">
                        <img src="/static/image/card-2.jpg" class="card-img" alt="..." height="205px">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Pasta</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk the
                            card's content.</p>
                        <h5 class="rate">$16.00</h5>
                        <div class="icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-pic">
                        <img src="/static/image/card-3.webp" class="card-img" alt="..." height="205px">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Lasanga</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <h5 class="rate">$21.00</h5>
                        <div class="icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <div class="card-pic">
                        <img src="/static/image/card-4.jpg" class="card-img" alt="..." height="205px">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Drink</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <h5 class="rate">$15.00</h5>
                        <div class="icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-pic">
                        <img src="/static/image/card-5.jpg" class="card-img" alt="..." height="205px">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Pizza</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            ofthe card's content.</p>
                        <h5 class="rate">$22.00</h5>
                        <div class="icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-pic">
                        <img src="/static/image/card-6.jpg" class="card-img" alt="..." height="205px">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Hot Dog</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <h5 class="rate">$25.00</h5>
                        <div class="icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-pic">
                        <img src="/static/image/card-7.jpg" class="card-img" alt="..." height="205px">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Juice</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            ofthe card's content.</p>
                        <h5 class="rate">$30.00</h5>
                        <div class="icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-pic">
                        <img src="/static/image/card-8.webp" class="card-img" alt="..." height="205px">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Biryani</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            ofthe card's content.</p>
                        <h5 class="rate">$28.00</h5>
                        <div class="icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-pic">
                        <img src="/static/image/card-9.jpg" class="card-img" alt="..." height="205px">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Chocolate</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            ofthe card's content.</p>
                        <h5 class="rate">$10.00</h5>
                        <div class="icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-pic">
                        <img src="/static/image/card-10.jpg" class="card-img" alt="..." height="205px">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Ice Cream</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            ofthe card's content.</p>
                        <h5 class="rate">$13.00</h5>
                        <div class="icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-pic">
                        <img src="/static/image/card-11.jpg" class="card-img" alt="..." height="205px">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Spanchi</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            ofthe card's content.</p>
                        <h5 class="rate">$20.00</h5>
                        <div class="icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-pic">
                        <img src="/static/image/card-12.jpg" class="card-img" alt="..." height="205px">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Sandwich</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            ofthe card's content.</p>
                        <h5 class="rate">$19.00</h5>
                        <div class="icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% include 'footer.html' %}