{% include 'header.html' %}

        <!-- Review -->

        <div class="container-fluid" id="review">
            <h1>Customer<span>Review</span></h1>
            <div class="row" id="review-row">
                <div class="col-md-3" id="crd-1">
                    <div class="card" style="width: 300px;">
                        <div class="rev-img">
                            <img src="/static/image/review_1.png" class="card-img" alt="...">
                        </div>

                        <div class="card-body">
                            <div class="rev-text">
                                <h2 class="name">John Deo</h2>
                            </div>
                            <div class="rev-icon">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <div class="social-icon">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-whatsapp"></i>
                            </div>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi vitae
                                atque, mollitia unde velit dolores quo, dolore perspiciatis quos dolor corrupti? Et odit
                                accusantium animi dolore modi deserunt maxime ea?.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3" id="crd-2">
                    <div class="card" style="width: 300px;">
                        <div class="rev-img">
                            <img src="/static/image/review_2.png" class="card-img-top" alt="...">
                        </div>

                        <div class="card-body">
                            <div class="rev-text">
                                <h2 class="name">John Deo</h2>
                            </div>
                            <div class="rev-icon">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <div class="social-icon">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-whatsapp"></i>
                            </div>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque tenetur
                                hic in nesciunt quod possimus enim unde veniam. Deleniti similique totam eos id
                                laudantium aperiam praesentium quibusdam. Laborum, suscipit .</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3" id="crd-3">
                    <div class="card" style="width: 300px;">
                        <div class="rev-img">
                            <img src="/static/image/review_3.png" class="card-img-top" alt="...">
                        </div>

                        <div class="card-body">
                            <div class="rev-text">
                                <h2 class="name">John Deo</h2>
                            </div>
                            <div class="rev-icon">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <div class="social-icon">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-whatsapp"></i>
                            </div>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ex
                                accusamus animi laborum quidem vel! Nostrum unde quas fuga possimus odit magnam
                                aliquam eum debitis consequuntur rem, provident, dicta facilis!</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3" id="crd-4">
                    <div class="card" style="width: 300px;">
                        <div class="rev-img">
                            <img src="/static/image/review_4.png" class="card-img-top" alt="...">
                        </div>

                        <div class="card-body">
                            <div class="rev-text">
                                <h2 class="name">John Deo</h2>
                            </div>
                            <div class="rev-icon">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <div class="social-icon">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-whatsapp"></i>
                            </div>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Minima, nisi veritatis blanditiis laboriosam nemo quos, saepe quo sed magni nam
                                expedita ut autem, porro exercitationem accusantium odio dolorem..</p>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    {% include 'footer.html' %}